@page "/chooserole"

<PageTitle>ChooseRole</PageTitle>

<h1>Choose your role</h1>
<div class="grid">
    <button type="button" class="col-6 btn btn-primary">Student</button>
    <button type="button" class="col-6 btn btn-secondary">Supervisor</button>
</div>

@code {
    
}