@page "/createproject"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure
@using System

<PageTitle>Create Project</PageTitle>

<h1>Create a new project</h1>

 <EditForm Model="@project" OnValidSubmt="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label class="form-label">Title
            <InputText id="title" class="form-control" @bind-Value="project.Title" />
        </label>
    </div>

    <div>
        <label class="form-label">Description
            <InputTextArea id="description" class="form-control" @bind-Value="project.Description" />
        </label>
    </div>

    <div>
        <label class="form-label">Tags
            <InputText id="tags" class="form-control" @bind-Value="@TagListString"/>
        </label>
    </div>

    <button type="submit" class="btn btn-primary" onclick="@HandleValidSubmit">Create</button>
</EditForm> 

@code {
    private Project project = new("", Status.Active, 1);
    private string TagListString {get; set;}

    private void HandleValidSubmit() {
        //handle submit + send/persist to db?
        TagStringToList();
        Console.WriteLine(project.Title);
        Console.WriteLine(project.Tags.ElementAt(0).Name);
    }

    private void TagStringToList() {
        string[] tagNames = TagListString.Replace(" ","").Split(',');
        var tagList = new List<Tag>();
        foreach (var tagName in tagNames)
        {
            tagList.Add(new Tag(tagName));
        }
        project.Tags = tagList;
    }
}