@page "/createproject"
<!--@using ProjectBank.Infrastructure-->

<PageTitle>Create Project</PageTitle>

<h1>Create a new project</h1>

<!-- 
<form>
    title field
    description text box 
    tag input field
    create button  
</form>
-->

 <EditForm Model="@project" OnValidSubmt="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <label>Title
        <InputText id="title" @bind-Value="project.Title" />
    </label>

    <label>Description
        <InputTextArea id="description" @bind-Value="project.Description" />
    </label>

    <label>Tags
        <!--<InputText id="tags" @bind-Value=/> -->
        <!--@bind-Value="project.Tags" this needs to be converted from the input string to a new tag-->
        <InputSelect @bind-Value="project.Tags">
                <option value="@NewAlgoTag">Algo</option>
        </InputSelect>
    </label>

    <button type="submit">Create</button>
</EditForm> 

<!-- Version 2 -->

<!--<form>
    <label for="title">Title</label>
    <input id="title" type="text" />

    <label for="description">Description</label>
    <input id="description" type="textarea" />

    <label for="tags">Tags</label>
    <input id="tags" type="text" />
</form>-->

@code {
    private Project project = new("Title", Status.Active, 1);
    private void HandleValidSubmit() {
        //handle submit + assign values??
    }

    private Tag NewAlgoTag() {
        return new Tag("Algo");
    }
}