@page "/createproject"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using ProjectBank.Infrastructure
@using System


<PageTitle>Create Project</PageTitle>
    <h1>Create a new project</h1>
    <FormComponent Project="@Project" ButtonName="Create"/>
    

@code {
    private CreateProjectDTO Project = new();


}