@page "/createproject"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure
@using System

<PageTitle>Create Project</PageTitle>

<h1>Create a new project</h1>

<FormComponent Project="@Project"/>

@code {
    private Project Project = new("", Status.Active, 1); //get the id from the supervisor creating
}