@page "/createproject"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure
@using System

<PageTitle>Create Project</PageTitle>

<h1>Create a new project</h1>

<FormComponent Project="@project"/>

@code {
    private Project project = new("", Status.Active, 1);
}