@page "/editproject/{Id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure

<PageTitle>Edit Project</PageTitle>

<h1>Edit project</h1>

<FormComponent Project="@Project"/>

@code {
    [Parameter]
    public int Id { get; set; }

    //get the project to edit from the db using efcore from projectrepository?
    private Project Project = new("Project Title", Status.Active, 1) {Description = "A longer description of the project", Tags=new List<Tag>() {new Tag("Algo"),new Tag("Andet")}}; 
}