@page "/editproject/{Id:int}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Edit Project</PageTitle>

<h1>Edit project</h1>

<FormComponent Project="@Project" ButtonName="Save"/>

@code {
    [Parameter]
    public int Id { get; set; }
    private UpdateProjectDTO Project = new();

    protected override async Task OnInitializedAsync()
    {
        var tempProject = await Http.GetFromJsonAsync<ProjectDTO>($"api/projects/{Id}");
        Project.Title = tempProject.Title;
        Project.Description = tempProject.Description;
        Project.UserId = tempProject.UserId;
        Project.Tags = tempProject.Tags.ToList();
        Project.Id = tempProject.Id;
    }
}