@page "/editproject/{Id:int}"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure

<PageTitle>Edit Project</PageTitle>

<h1>Edit project</h1>

<FormComponent />

@code {
    [Parameter]
    public int Id { get; set; }

    //get the project to edit from the db using efcore from projectrepository?
    private Project project = new("", Status.Active, 1); 
    private string TagListString {get; set;}

    private void HandleValidSubmit() {
        //handle submit + send/persist to db?
        TagStringToList();
        Console.WriteLine(project.Title);
        Console.WriteLine(project.Tags.ElementAt(0).Name);
    }

    private void TagStringToList() {
        string[] tagNames = TagListString.Replace(" ","").Split(',');
        var tagList = new List<Tag>();
        foreach (var tagName in tagNames)
        {
            tagList.Add(new Tag(tagName));
        }
        project.Tags = tagList;
    }
}