@page "/editproject"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components
@using ProjectBank.Infrastructure

<PageTitle>Edit Project</PageTitle>

<h1>Edit project</h1>

<EditForm Model="@project" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="title">Title</label>
    <InputText id="title" @bind-Value="project.Title"/>

    <label for="description">Description</label>
    <InputTextArea id="description" @bind-Value="project.Description"/>

    <label for="tags">Tags</label>
    <InputSelect @bind-Value="project.Tags">
        <option value="@NewAlgoTag">Algo</option>
    </InputSelect>
    
    <button type="submit">Submit</button>
</EditForm>

@code {
    private Project project = new("Project1", Status.Active, 1);

    private void HandleValidSubmit() {
        //process valid form
    }
    private Tag NewAlgoTag() {
        return new Tag("Algo");
    }
}