@page "/editproject/{Id:int}"
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Supervisor")] 

<AuthorizeView Roles="Supervisor">
    <Authorized>
        <PageTitle>Edit Project</PageTitle>

        <h1>Edit project</h1>

        <FormComponent Project="@Project" ButtonName="Save" />
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    private UpdateProjectDTO Project = new();

    protected override async Task OnInitializedAsync()
    {
        var tempProject = await Http.GetFromJsonAsync<ProjectDTO>($"api/projects/{Id}");
        if (tempProject != null)
        {
            Project.Title = tempProject.Title;
            Project.Description = tempProject.Description;
            Project.SupervisorId = tempProject.SupervisorId;
            Project.Tags = tempProject.Tags.ToList();
            Project.Id = tempProject.Id;
        }
    }
}