@page "/"

<PageTitle>Index</PageTitle>

<h1>Your Projects</h1>

<h1>Explore</h1>
<div class="row justify-content-around">
    <div class="card col col-xs-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="https://picsum.photos/300" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card with stretched link</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">View Project</a>
        </div>
    </div>
    <div class="card col col-xs-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="https://picsum.photos/300" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card with stretched link</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">View Project</a>
        </div>
    </div>
    <div class="card col col-xs-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="https://picsum.photos/300" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card with stretched link</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">View Project</a>
        </div>
    </div>
    <div class="card col col-xs-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
        <img src="https://picsum.photos/300" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card with stretched link</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary stretched-link">View Project</a>
        </div>
    </div>
</div>