@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize] 
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (yourProjects.Count > 0){
    <h1>Your Projects</h1>
    <div class="row justify-content-around">
        @foreach (var project in yourProjects)
        {
            <div class="card col col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-text">@project.Description</p>
                    <a href="project/@project.Id/" class="btn btn-primary stretched-link">View Project</a>
                </div>
            </div>
        }
    </div>
}
<h1>Explore</h1>
<div class="row justify-content-around">
    @foreach (var project in projectsList)
    {
        <div class="card mt-4 col col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <p class="card-text">@project.Description</p>
                <a href="project/@project.Id/" class="btn btn-primary stretched-link">View Project</a>
            </div>
        </div>
    }
</div>

@code {

    private ProjectDTO[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<ProjectDTO[]>("/api/projects");
    }
    List<Project> yourProjects = new List<Project>();

    List<ProjectDTO> projectsList = new List<ProjectDTO>() {
        new ProjectDTO(1,"hej",Status.Active,1,"Lorem ipsum",DateTime.Now,DateTime.Now,new List<string>(),new List<UserDTO>())
    };
}