@page "/Welcome"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Welcome</PageTitle>

<h1>Welcome</h1>

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <InputText class="form-control" @bind-Value="user.Name" id="Name" />
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private CreateUserDTO user = new();

    

    private async Task HandleValidSubmit()
    {
        user.Role = Role.Supervisor;

        var response = await Http.PostAsJsonAsync("api/Users", user);

        
            var created = await response.Content.ReadFromJsonAsync<UserDetailsDTO>();

            var uri = $"{NavigationManager.BaseUri}MyProjects";

            NavigationManager.NavigateTo(uri);
        
    }

}