@page "/Login"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="LoginEmail" class="form-label">Email address</label>
        <InputText type="email" class="form-control" id="LoginEmail" @bind-Value="user.Email" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
        <label for="LoginPassword" class="form-label">Password</label>
        <InputText type="password" class="form-control" @bind-Value="user.Password" id="LoginPassword" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private CreateUserDTO user = new();

    private async Task HandleValidSubmit()
    {

        var response = await Http.PostAsJsonAsync("/Login", user);

        if (response.IsSuccessStatusCode)
        {
            var created = await response.Content.ReadFromJsonAsync<UserDetailsDTO>();

            var uri = $"{NavigationManager.BaseUri}MyProjects";

            NavigationManager.NavigateTo(uri);
        }
    }

}