@page "/user"

<PageTitle>My Projects</PageTitle>

<h1>My Projects</h1>

<ul>
    @foreach (var project in user.Projects)
    {
        <li>@project.Title</li>
    }
</ul>

@code {

    User user = new User("Alice", "Alice@email.com", "password123")
    {
        Projects = new List<Project>() { new Project("Super Duper Fun Algo Project", Status.Active, 2), new Project("Super Fun Project", Status.Active, 1) }
    };

}