@page "/MyProjects"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles="Supervisor")] 

<PageTitle>My Projects</PageTitle>

<div class="toast top-0 start-50 translate-middle-x align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

<h1>My Projects</h1>

<div class="container MyProjectsContainer">
    <div class="row p-3">
        <div class="col-8"><strong>Name</strong></div>
        <div class="col-4"><strong>Tools</strong></div>
    </div>
    @if (@projects == null)
    {
      <p>Loading...</p>
    }
    else
    {
      @if (@projects.Count() > 0){
        @foreach (var project in projects)
        {
        <div class="row p-3">
            <div class="col-8"><a href="project/@project.Id/">@project.Title</a></div>
            <div class="col-4">
                <a href="editproject/@project.Id/" class="btn btn-warning">Edit</a>
                <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#deleteModal" @onclick="@(() => SetID(@project.Id))">
                    Delete
                </button>
            </div>
        </div>
        }
      }
      else{
        <p>No Projects</p>
      }
    }
</div>

<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" @onclick="DeleteProject">Delete</button>
      </div>
    </div>
  </div>
</div>

@code {
    private ProjectDTO[]? projects;

    private int specificId{get; set;}

    private void SetID(int id){
      specificId = id;
    }

    protected override async Task OnParametersSetAsync()
    {
        projects = (await Http.GetFromJsonAsync<List<ProjectDTO>>($"api/MyProjects")).ToArray();
        await base.OnParametersSetAsync();
    }

    private async Task DeleteProject(){
        var response = await Http.DeleteAsync($"api/projects/{specificId}");

        if(response.IsSuccessStatusCode){
            var uri = $"{NavigationManager.BaseUri}/MyProjects";

            NavigationManager.NavigateTo(uri, forceLoad: true);
        }
    }

}