@page "/project/{Id:int}"

<PageTitle>Project</PageTitle>

<div class="conatiner">
    <div class="row">
        <div class="col-8"> 
            <h1>@test.Title</h1>
            <h3>By @test.UserId</h3>
            <h4>Tags
                @foreach (var tag in test.Tags)
                {
                    <span class="badge bg-secondary me-2">@tag.Name</span>
                }
            </h4>
            <p>@test.Description</p>
        </div>
        <div class="col"> 
            <button class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    Project test = new Project("test", Status.Active, 1) { Description = "Bla bla", CreationDate = DateTime.Now, Tags=new List<Tag>() {new Tag("Algo"),new Tag("Andet")}};
}
