@page "/Login"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<form>
    <div class="mb-3">
        <label for="LoginEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="LoginEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="LoginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="LoginPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code {
    
}
