@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject HttpClient Http

<AuthorizeView >
    <Authorized>
        <div class="nav-item p-3 text-white">
            Hello, @context.User.Identity?.Name!
        </div>
        <div class="nav-item p-3" @onclick="BeginLogout">
            <div class="nav-link btn btn-light">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {     
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    
}

